body{
    margin: 0;
    background-color: rgb(255, 253, 233);
}
.header{
    padding: 20px;
    text-align: center;
}
@font-face {
    font-family: aa;
    src: url(Garden\ Flower.ttf);
}
@font-face {
    font-family: bb;
    src: url(Hug\ Me\ Tight\ -\ TTF.ttf);
}
.navbar {
    background-color: rgb(201, 233, 244);
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 999;
    font-family: bb;
    font-size: 20px;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
}
.navbar ul li {
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #333;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: 500;    
    display: block;
    transition: 0.3s ease;
    border-radius: 6px;
}
.navbar ul li a:hover {
    background-color: lightblue;
    color:midnightblue;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: rgb(255, 255, 255);
    min-width: 180px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    overflow: hidden;
}
.dropdown-content a {
    padding: 12px 16px;
    font-size: 15px;
    font-weight: 500;      
    display: block;
    color: #333;
    background-color: white;
    transition: 0.2s ease;
}
.dropdown-content a:hover {
    background-color: moccasin;
    color: midnightblue;
}
.dropdown:hover .dropdown-content {
    display: block;
}

p.judul{
    font-family: aa;
    font-size: 30px;
    text-align: center;
    color: lemonchiffon;
    background-color: rgb(147, 205, 224);
}
p.judul:hover{
    text-shadow: 2px 3px 5px cadetblue;
        transition: transform 0.3s ease;
    transform: scale(1.2);
}
p.text{
    font-family: bb;
    color: cadetblue;
    font-size: 30px;
    text-align: center;
}
p.isi{
    font-family: "Poppins", sans-serif;
    text-align: justify;
    font-size: 15px;
}

div.container{
    display: flex;
    padding: 20px;
    align-items: center;
}
div.containerr{
    display: flex;
    padding: 20px;
    align-items: center;
}
div.container1{
    background-color: lemonchiffon;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-left: 30px;
    min-width: 300px;
    max-width: 800px;
    height: 300px;
}
div.container1:hover{
    box-shadow: 0 0 5px 5px burlywood;
    transition: transform 0.3s ease;
    transform: scale(1.2);
}
div.container2{
    background-color: rgb(222, 247, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-left: 30px;
    min-width: 300px;
    max-width: 800px;
    height: 300px;
}
div.container2:hover{
    box-shadow: 0 0 5px 5px lightblue;
    transition: transform 0.3s ease;
    transform: scale(1.2);
}
div.container3{
    background-color: lemonchiffon;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-left: 30px;
    min-width: 300px;
    max-width: 800px;
    height: 300px;
}
div.container3:hover{
    box-shadow: 0 0 5px 5px burlywood;
    transition: transform 0.3s ease;
    transform: scale(1.2);
}
div.container4{
    background-color: rgb(222, 247, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-left: 30px;
    min-width: 300px;
    max-width: 800px;
    height: 300px;
}
div.container4:hover{
    box-shadow: 0 0 5px 5px lightblue;
    transition: transform 0.3s ease;
    transform: scale(1.2);
}
div.container5{
    background-color: lemonchiffon;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-left: 30px;
    min-width: 300px;
    max-width: 800px;
    height: 300px;
}
div.container5:hover{
    box-shadow: 0 0 5px 5px burlywood;
    transition: transform 0.3s ease;
    transform: scale(1.2);
}
div.container6{
    background-color: rgb(222, 247, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-left: 30px;
    min-width: 300px;
    max-width: 800px;
    height: 300px;
}
div.container6:hover{
    box-shadow: 0 0 5px 5px lightblue;
    transition: transform 0.3s ease;
    transform: scale(1.2);
}
.footer{
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    gap: 20px;
}