body{
    margin: 0;
    background-color: rgb(255, 253, 233);
}
.header{
    padding: 20px;
    text-align: center;
}
@font-face {
    font-family: aa;
    src: url(Garden\ Flower.ttf);
}
@font-face {
    font-family: bb;
    src: url(Hug\ Me\ Tight\ -\ TTF.ttf);
}
.navbar {
    background-color: rgb(201, 233, 244);
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 999;
    font-family: bb;
    font-size: 20px;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
}
.navbar ul li {
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #333;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: 500;    
    display: block;
    transition: 0.3s ease;
    border-radius: 6px;
}
.navbar ul li a:hover {
    background-color: lightblue;
    color:midnightblue;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: rgb(255, 255, 255);
    min-width: 180px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    overflow: hidden;
}
.dropdown-content a {
    padding: 12px 16px;
    font-size: 15px;
    font-weight: 500;      
    display: block;
    color: #333;
    background-color: white;
    transition: 0.2s ease;
}
.dropdown-content a:hover {
    background-color: moccasin;
    color: midnightblue;
}
.dropdown:hover .dropdown-content {
    display: block;
}

p.judul{
    font-family: aa;
    font-size: 30px;
    text-align: center;
    color: lemonchiffon;
    background-color: rgb(147, 205, 224);
}
p.judul:hover{
    text-shadow: 2px 3px 5px cadetblue;
        transition: transform 0.3s ease;
    transform: scale(1.2);
}
p.text{
    font-family: bb;
    color: cadetblue;
    font-size: 30px;
    text-align: center;
}
p.isi{
    font-family: "Poppins", sans-serif;
    text-align: justify;
    font-size: 15px;
}


.tantangan {
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 100%;
    max-width: 1200px;
}
.grid-tantangan {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
}
.content {
    background-color: lemonchiffon;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.content:hover {
    background-color: rgb(255, 255, 218);
}
.content p.isi {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}
.content:hover p.isi {
    opacity: 1;
    max-height: 500px;
    margin-top: 10px;
}

/* footer */
.footer{
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    gap: 20px;
}